<% provide(:title, "Draft List") %>

<h3>Idol Draft Official Rankings</h3>
<p>Current list for test server as of 5.28.2018</p>

<%
  require 'roo'
  xlsx = Roo::Excelx.new(Rails.root.join("#{Rails.root}/app/assets/spreadsheets/Idol-Draft-Test-Server-Ranks.xlsx"))
%>

<table>
  <tr bgcolor=#add8e6>
    <th>Rank</th>
    <th>Idol</th>
    <th>Group</th>
    <th>Role</th>
    <th>Specialization</th>
  </tr>
  <tr>
    <% i = 5 %>
    <% while xlsx.excelx_value(i, 'B') != nil %>
      <tr>
        <td> <%= xlsx.excelx_value(i, 'B') %> </td>
        <td> <%= xlsx.excelx_value(i, 'C') %> </td>
        <td> <%= xlsx.excelx_value(i, 'D') %> </td>
        <td> <%= xlsx.excelx_value(i, 'E') %> </td>
        <td> <%= xlsx.excelx_value(i, 'F') %> </td>
      </tr>
      <% i += 1 %>
    <% end %>
  </tr>
</table>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
  }
</style>
