<% provide(:title, "Line Distributions") %>

<h3>Idol Draft Line Distributions</h3>
<p>Current list for test server</p>

</br>

<%
  require 'yaml'
  blackpink = YAML.load_file("#{Rails.root}/app/assets/distributions/bts.yml")
%>

<h4><%= blackpink['group_name'] %></h4> </br>
<% for i in 1..blackpink['songs_num'] %>

  <h5><%= blackpink["song_#{i}"]['title'] %></h5>
  <% for j in 1..blackpink['members_num'] %>

    <% name = blackpink['members'][j] %>
      <p> &nbsp &nbsp <%= "#{name}: " %>
        <%= blackpink["song_#{i}"]["#{name}"] %>
        <%= 'points' %>
      </p>
  <% end %>
  </br>

<% end %>
