<% provide(:title, "Line Distributions") %>

<h3>Idol Draft Line Distributions</h3>
<p>Current list for test server</p>

</br>

<%
  require 'yaml'
  Dir.glob("#{Rails.root}/app/assets/distributions/*.yml") do |f|
  file = YAML.load_file(f)
%>
  <h4><%= file['group_name'] %></h4> </br>
  <% for i in 1..file['songs_num'] %>

    <h5> &nbsp &nbsp <%= file["song_#{i}"]['title'] %></h5>
    <% for j in 1..file['members_num'] %>

      <% name = file['members'][j] %>
        <p> &nbsp &nbsp &nbsp &nbsp <%= "#{name}: " %>
          <%= file["song_#{i}"]["#{name}"] %>
          <%= 'points' %>
        </p>
    <% end %>
    </br>
  <% end %>
<% end %>
